version: "3.9" 

services:
  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - gateway

  auth-service:
    build: ./services/auth-service

  product-service:
    build: ./services/product-service
    depends_on:
      - db

  order-service:
    build: ./services/order-service

  gateway:
    build: ./gateway
    ports:
      - "80:80"
    depends_on:
      - auth-service
      - product-service
      - order-service

      
  db:
    image: postgres:15
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./database/init.sql:/docker-entrypoint-initdb.d/init.sql

volumes:
  postgres_data:
      
